/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

body {
  background-color: #8C551E;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.bistre-dark{
  background-color: #35291C;
}
.bistre {
  background-color: #8C551E;
}
.french-bistre {
  background-color: #936D46;
}
.grizzly {
  background-color: #f2e2d8;
}
.tumbleweed {
  background-color: #E1B07E;
}

.mahogany {
  color: #db6f27;
}

.mahogany-btn {
  background-color: #db6f27;
  color: black;
}

.wood {
	background-color: #a84f00;
}

.light-wood {
  background-color: #c45800;
}

footer.page-footer {
  margin: 0;
  background-color: #a84f00;
}

.tags-nav {
	width: 200px;
}