{% extends 'home/base.html' %}

{% block navbar %}
<nav class="french-bistre" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      {% if user.is_authenticated %}
      <ul class="right">
        <li><a href="{% url 'home:logout' %}">Logout</a></li>    
      </ul>
      <ul class="right">
        <li><a href="{% url 'home:profile' %}">Welcome {{ user.first_name }}</a></li>    
      </ul>
      <ul class="right">
        <li><a href="{% url 'home:my_library' %}">My Library</a></li>    
      </ul>
      <ul class="right">
        <li><a href="{% url 'home:main' %}">Browse</a></li>    
      </ul>
      {% else %}
      <ul class="right">
        <li><a href="{% url 'home:main' %}">Browse</a></li>    
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a class="register_btn" href="{% url 'home:register' %}">Sign Up</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a class="login_btn" href="{% url 'home:login' %}">Login</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a class="register_btn" href="{% url 'home:register' %}">Sign Up</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a class="login_btn" href="{% url 'home:login' %}">Login</a></li>
      </ul>
      {% endif %}
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
{% endblock %}
{% block content %}
  <div class="section no-pad-bot bistre" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center mahogany">A Musician's Home</h1>
      <div class="row center">
        <h5 class="header col s12 light">A Musician's final destination for instruments, supplies, and manuscripts.</h5>
        <h5 class="header col s12 light">Welcome Home</h5>
      </div>
      <div class="row center">
        <a href="{% url 'home:main' %}" id="download-button" class="btn-large waves-effect waves-light mahogany-btn">Browse Now</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container bistre">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Instruments</h5>

            <p class="light center">Musicians add their instruments for others to see. The Musician can decide whether the instrument is on sale or not</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Supplies</h5>

            <p class="light center">Find everything from rosin, to malets, to valve oil</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Manuscripts</h5>

            <p class="light center">Explore, Buy, and Sell </\br> The extra music in the closet you havent touched in years</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer grizzly">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
{% endblock %}