{% extends 'home/base.html' %}

{% block navbar %}

<nav class="french-bistre" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      {% if user.is_authenticated %}
      <ul class="right">
        <li><a href="{% url 'home:logout' %}">Logout</a></li>    
      </ul>
      <ul class="right">
        <li><a href="{% url 'home:profile' %}">Welcome {{ user.first_name }}</a></li>    
      </ul>
      <ul class="right">
        <li><a href="{% url 'home:my_library' %}">My Library</a></li>    
      </ul>
      <ul class="right">
        <li><a href="{% url 'home:main' %}">Browse</a></li>    
      </ul>
      {% else %}
      <ul class="right hide-on-med-and-down">
        <li><a class="register_btn" href="{% url 'home:register' %}">Sign Up</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a class="login_btn" href="{% url 'home:login' %}">Login</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a class="register_btn" href="{% url 'home:register' %}">Sign Up</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a class="login_btn" href="{% url 'home:login' %}">Login</a></li>
      </ul>
      {% endif %}
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>  

<style>
  body{
    background-color: #157f75
  }
  .card{
    width:100%;
  }
</style>

<h1 class="header center mahogany" style="margin-left: 200px;">Browse</h1>
<div class="row">
    <div class="col s3 offset-s9">
        <h5>
            Number of users with public objects: {{ num_objs }}
        </h5>
    </div>    
</div>
<div class="row">
    <div class="col s3 offset-s9">
        <table>
            <thead>
                <tr>
                    <th>Users with more than 5 objects:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for object in for_all %}
                        <td>{{ object.username }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>    
</div>
<div class="row" style="margin-left: 200px;">
<div class="col s12">
  <ul class="tabs">
    <li class="tab col s4"><a class="active" href="#instruments">Instruments</a></li>
    <li class="tab col s4"><a href="#music">Music</a></li>
    <li class="tab col s4"><a href="#items">Miscellaneous</a></li>
  </ul>
</div>
<div id="browser_main">
    <div id="instruments" class="col s12 ">
        {% for instr in instruments %}
         <div class="col s4">
         <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked" width:400px>
            <div class="card-content">
              <p>{{ instr.year_made }} {% if item.maker != 'Unknown' or item.maker != 'N/A' %}{{ item.maker }}{% endif %} {{ instr.obj.name }}</p>
              <p>
                {{ instr.obj.est_price }}
              </p>
              <p>
                 {{ instr.size }}
              </p>
               <p>
                Posted {{ instr.date_posted }}
              </p>
            </div>
          </div>
        </div>
       </div>
        {% endfor %}
        </div>
      <div id="music" class="col s12">
        {% for musi in music %}
       <div class="col s4">
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked" width:400px>
            <div class="card-content">
              <p>{{ musi.title }} ({{ musi.num_pages }}) </p>
              <p>
                Published {{ musi.year_pub }} by {{ musi.composer }}
              </p>
              <p>
                {{ musi.obj.est_price }}
              </p>
              <p>
                Posted {{ musi.obj.date_posted }}
              </p>
            </div>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
      <div id="items" class="col s12">
        {% for item in supplies %}
        <div class="col s4">
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ item.year_made }} {% if item.maker != 'Unknown' or item.maker != 'N/A' %}{{ item.maker }}{% endif %} {{ item.obj.name }}</p>
              <p>
                {{ item.obj.est_price }}
              </p>
              <p>
                 {{ item.description }}
              </p>
              <p>
                Posted {{ item.obj.date_posted }}
              </p>
            </div>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>


<ul class="side-nav fixed tags-nav">
    <li>
        <div class="userView">
            <form method="POST">
              {% csrf_token %}
            Select Filters: 
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header" id="woodwinds">Woodwinds</div>
                    <div class="collapsible-body">
                        <ul>
                            {% for tag in tags %}
                                {% if tag.tag_type == 'Wind' %}
                            <li>
                                <div class="collapsible-header">
                                    <input type="checkbox" id="{{ tag.name }}" />
                                    <label for="{{ tag.name }}">{{ tag.name }}</label></div>
                                <div class="collapsible-body"><span>{{ tag.name }}</span></div>
                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                  <div class="collapsible-header">Strings</div>
                  <div class="collapsible-body">
                        <ul>
                            {% for tag in tags %}
                                {% if tag.tag_type == 'String' %}
                            <li>
                                <div class="collapsible-header">
                                    <input type="checkbox" id="{{ tag.name }}" />
                                    <label for="{{ tag.name }}">{{ tag.name }}</label></div>
                                <div class="collapsible-body"><span>{{ tag.name }}</span></div>
                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                  <div class="collapsible-header">Brass</div>
                  <div class="collapsible-body">
                        <ul>
                            {% for tag in tags %}
                                {% if tag.tag_type == 'Brass' %}
                            <li>
                                <div class="collapsible-header">
                                    <input type="checkbox" id="{{ tag.name }}" />
                                    <label for="{{ tag.name }}">{{ tag.name }}</label></div>
                                <div class="collapsible-body"><span>{{ tag.name }}</span></div>
                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                  <div class="collapsible-header">Percussion</div>
                  <div class="collapsible-body">
                        <ul>
                            {% for tag in tags %}
                                {% if tag.tag_type == 'Percussion' %}
                            <li>
                                <div class="collapsible-header">
                                    <input type="checkbox" id="{{ tag.name }}" />
                                    <label for="{{ tag.name }}">{{ tag.name }}</label></div>
                                <div class="collapsible-body"><span>{{ tag.name }}</span></div>
                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
        </ul>
    </form>
          <script>
            $("[type=checkbox]").click(function() {
              var xhttp = new XMLHttpRequest();
              var response = JSON.stringify();
              
              //Waits for response
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  console.log(this.responseText);
                }
              };
              
              //Sends GET Request
              //xhttp.open("GET", "http://amusicianshome-bnp26156281.codeanyapp.com:8000/", true);
              //xhttp.send();
              //});
              var filters = "/main/?selected_tags=";
              $('input[type=checkbox]').each(function () {
                if ($(this).is(':checked')){
                  filters += $(this).attr('id') + ",";
                }
              });
              $.ajax({
                url: filters,
                type: "GET",
                success: function(data){
                  console.log(data);
                    
                  $('#browser_main').replaceWith(data);
                    location += "#music"
                },
              });
            });
          </script>
        </div>
    </li>
</ul>
{% endblock %}