{% extends 'home/home.html' %}

{% block content %}
<style>
  body{
    background-color: #157f75
  }
  h4{
    color: #157f75
  }
  #modal { width: 60% !important ; max-height: 90% !important ; overflow-y: hidden !important ;}
  
</style>
<h1 class="header center mahogany">My Library</h1>
<h4 class="center mahogany">objects in my library: {{ obj_count }}</h4>
<ul class="collection">
    {% for object in instruments %}
    <li class="collection-item avatar">
      <img src="https://www.antiques-delaval.com/6035-46021-thickbox/rarely-entire-violin-luthier-eperrin-son-paris-french-antique-violin-nineteenth.jpg" alt="" class="circle">
      <span class="title">{{ object.obj.name }}</span>
      <p>
      
    </p>
      <p>${{ object.obj.est_price }}<br>
         {{ object.obj.date_posted }}
      </p>
      <a class="secondary-content"><br><br>
        <p>
      <input type="checkbox" id="posted"/>
      <label for="posted" style="color:black">Posted</label>
    </p></a>
      <a href="#modalInstr" class="secondary-content"><p>
        Edit
        </p>
      </a>
    </li>
    {% endfor %}
  {% for object in supplies %}
    <li class="collection-item avatar">
      <img src="https://www.antiques-delaval.com/6035-46021-thickbox/rarely-entire-violin-luthier-eperrin-son-paris-french-antique-violin-nineteenth.jpg" alt="" class="circle">
      <span class="title">{{ object.obj.name }}</span>
      <p>
      
    </p>
      <p>${{ object.obj.est_price }}<br>
         {{ object.obj.date_posted }}
      </p>
      <a class="secondary-content"><br><br>
        <p>
      <input type="checkbox" id="posted"/>
      <label for="posted" style="color:black">Posted</label>
    </p></a>
      <a href="#modalItem" class="secondary-content"><p>
        Edit
        </p>
      </a>
    </li>
    {% endfor %}
  {% for object in music %}
    <li class="collection-item avatar">
      <img src="https://www.antiques-delaval.com/6035-46021-thickbox/rarely-entire-violin-luthier-eperrin-son-paris-french-antique-violin-nineteenth.jpg" alt="" class="circle">
      <span class="title">{{ object.obj.name }}</span>
      <p>
      
    </p>
      <p>${{ object.obj.est_price }}<br>
         {{ object.obj.date_posted }}
      </p>
      <a class="secondary-content"><br><br>
        <p>
      <input type="checkbox" id="posted"/>
      <label for="posted" style="color:black">Posted</label>
    </p></a>
      <a href="#modalMusic" class="secondary-content"><p>
        Edit
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>  
<div class="row section">
  <div class="col">
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal">Add Item</a>
  </div>
</div>
<!-- Modal Structure -->
<div id="modal" class="modal">
  <div class="modal-content">
    <h4 class="center">Add Item</h4>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3" style="margin-left:12.5%;"><a class="active" href="#create_instrument" id="instrument_tab">Instrument</a></li>
                <li class="tab col s3"><a href="#create_supply">Supply</a></li>
                <li class="tab col s3"><a href="#create_music">Music</a></li>
            </ul>
        </div>
    </div>
    <div id="create_instrument" class="row">
        <form class="col s8 offset-s2" method='POST'>
            {% csrf_token %}
          <div class="row">
            <div class="input-field col s4">
              {{ instr_form.name }}
              <label for="instr_name">Name</label>
            </div>
            <div class="input-field col s5 offset-s1">
            {{ instr_form.maker }}
              <label for="maker">Maker</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
                {{ instr_form.year_made}}
                <label for="date_made">Date Made</label>
            </div>
            <div class="input-field col s3">
                {{ instr_form.est_price }}
                <label for="price">Estimated Price</label>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    <label>
                    Private
                    {{ instr_form.post }}
                    <span class="lever"></span>
                    Public
                    </label>
                </div>
            </div>
          </div>
          <div class="row"> 
                <script> 
                $(document).ready(function() {
                    $('select').material_select();
                });
                </script>
                <div class="input-field col s6">
                    {{ instr_form.tags }}
                  <label for="id_tags">Tags</label>
                </div>
                 <div class="input-field col s3">
                {{ instr_form.size }}
                <label for="id_size">Size</label>
            </div>
          </div>
          <div class="row">
              <button class="btn waves-effect waves-light" type="submit" name="instrument" action=''>Add
          </div>
        </form>
      </div>
      <div id="create_supply" class="row">
        <form class="col s8 offset-s2" method='POST'>
            {% csrf_token %}
          <div class="row">
            <div class="input-field col s4">
              {{ supply_form.name }}
              <label for="supply_name">Name</label>
            </div>
            <div class="input-field col s5 offset-s1">
              {{ supply_form.maker }}
              <label for="supply_maker">Maker</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              {{ supply_form.year_made }}
              <label for="year_made">Year Made</label>
            </div>
            <div class="input-field col s3">
              {{ supply_form.est_price }}
              <label for="price_supply">Estimated Price</label>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    <label>
                    Public
                    {{ instr_form.post }}
                    <span class="lever"></span>
                    </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ supply_form.description }}
              <label for="id_description">Description</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-field col s6">
              {{ supply_form.tags }}
              <label for="tags">Tags</label>
            </div>
          </div>
          <div class="row">
              <button class="btn waves-effect waves-light" type="submit" name="supply">Add
          </div>
        </form>
    </div>
    <div id="create_music" class="row">
        <form class="col s8 offset-s2" method='POST'>
            {% csrf_token %}
          <div class="row">
            <div class="input-field col s4"> 
              {{ music_form.title }}
              <label for="music_name">Name</label>
            </div>
            <div class="input-field col s4">
              {{ music_form.composer }}
              <label for="music_maker">Composer</label>
            </div>
            <div class="input-field col s2">
              {{ music_form.num_pages }}
              <label for="num_pages"># Pages</label>
            </div>
            
          </div>
          <div class="row">
            <div class="input-field col s3">
              {{ music_form.year_pub }}
              <label for="year_published">Year Published</label>
            </div>
            <div class="input-field col s3">
              {{ music_form.est_price }}
              <label for="music_price">Estimated Price</label>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    <label>
                    Private
                    {{ instr_form.post }}
                    <span class="lever"></span>
                    Public
                    </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                {{ music_form.tags }}
              <label for="tags">Tags</label>
            </div>
          </div>
          <div class="row">
              <input class="btn waves-effect waves-light" type="submit" name="music" value="add">
          </div>
        </form>
    </div>
</div>
    </div>
<div id="modalInstr" class="modal">
  <div class="modal-content">
    <h4 class="center">Edit Instr</h4>
    <div class="row">
        <div class="col s12">
        </div>
    </div>
    <div id="create_instrument" class="row">
        <form class="col s8 offset-s2" method='POST'>
            {% csrf_token %}
          <div class="row">
            <div class="input-field col s4">
              {{ instr_form.name }}
              <label for="instr_name">Name</label>
            </div>
            <div class="input-field col s5 offset-s1">
            {{ instr_form.maker }}
          <label for="maker">Maker</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
                {{ instr_form.year_made}}
                <label for="date_made">Date Made</label>
            </div>
            <div class="input-field col s3">
                {{ instr_form.est_price }}
                <label for="price">Estimated Price</label>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    <label>
                    Private
                    {{ instr_form.post }}
                    <span class="lever"></span>
                    Public
                    </label>
                </div>
            </div>
          </div>
          <div class="row"> 
                <script> 
                $(document).ready(function() {
                    $('select').material_select();
                });
                </script>
                <div class="input-field col s6">
                    {{ instr_form.tags }}
                  <label for="id_tags">Tags</label>
                </div>
                 <div class="input-field col s3">
                {{ instr_form.size }}
                <label for="id_size">Size</label>
            </div>
          </div>
          <div class="row">
              <button class="btn waves-effect waves-light" type="submit" name="instrument" action=''>Add
          </div>
        </form>
    </div>
</div>
<div id="modalItem" class="modal">
  <div class="modal-content">
    <h4 class="center">Edit Item</h4>
    <div class="row">
        <div class="col s12">
        </div>
    </div>
    <div id="create_instrument" class="row">
        <form class="col s8 offset-s2" method='POST'>
            {% csrf_token %}
          <div class="row">
            <div class="input-field col s4">
              {{ instr_form.name }}
              <label for="instr_name">Name</label>
            </div>
            <div class="input-field col s5 offset-s1">
            {{ instr_form.maker }}
          <label for="maker">Maker</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
                {{ instr_form.year_made}}
                <label for="date_made">Date Made</label>
            </div>
            <div class="input-field col s3">
                {{ instr_form.est_price }}
                <label for="price">Estimated Price</label>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    <label>
                    Private
                    {{ instr_form.post }}
                    <span class="lever"></span>
                    Public
                    </label>
                </div>
            </div>
          </div>
          <div class="row"> 
                <script> 
                $(document).ready(function() {
                    $('select').material_select();
                });
                </script>
                <div class="input-field col s6">
                    {{ instr_form.tags }}
                  <label for="id_tags">Tags</label>
                </div>
                 <div class="input-field col s3">
                {{ instr_form.size }}
                <label for="id_size">Size</label>
            </div>
          </div>
          <div class="row">
              <button class="btn waves-effect waves-light" type="submit" name="instrument" action=''>Add
          </div>
        </form>
    </div>
</div>
<div id="modalMusic" class="modal">
  <div class="modal-content">
    <h4 class="center">Edit Music</h4>
    <div class="row">
        <div class="col s12">
        </div>
    </div>
    <div id="create_instrument" class="row">
        <form class="col s8 offset-s2" method='POST'>
            {% csrf_token %}
          <div class="row">
            <div class="input-field col s4">
              {{ instr_form.name }}
              <label for="instr_name">Name</label>
            </div>
            <div class="input-field col s5 offset-s1">
            {{ instr_form.maker }}
          <label for="maker">Maker</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
                {{ instr_form.year_made}}
                <label for="date_made">Date Made</label>
            </div>
            <div class="input-field col s3">
                {{ instr_form.est_price }}
                <label for="price">Estimated Price</label>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    <label>
                    Private
                    {{ instr_form.post }}
                    <span class="lever"></span>
                    Public
                    </label>
                </div>
            </div>
          </div>
          <div class="row"> 
                <script> 
                $(document).ready(function() {
                    $('select').material_select();
                });
                </script>
                <div class="input-field col s6">
                    {{ instr_form.tags }}
                  <label for="id_tags">Tags</label>
                </div>
                 <div class="input-field col s3">
                {{ instr_form.size }}
                <label for="id_size">Size</label>
            </div>
          </div>
          <div class="row">
              <button class="btn waves-effect waves-light" type="submit" name="instrument" action=''>Add
          </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
$(document).ready(function() {
  $('.modal').modal();
  $("#instrument_tab").select();
});
</script>
{% endblock %}